.textField {
  display: inline-block;
  border-radius: var(--themeTextFieldBorderRadius);
  border: var(--themeTextFieldBorder);
  color: var(--themeTextFieldColor);
  padding: var(--themeTextFieldPadding);
  margin: var(--themeTextFieldMargin);
  background: var(--themeTextFieldBackground);
  outline: none;
  width: 100%;

  &:hover {
    border-bottom-color: var(--themeTextFieldColor);
  }

  &:focus {
    border-bottom-color: var(--themeTextFieldColor);
  }
}
.captionError{
  color: var(--themeErrorColor);
}
.label{

}
