.header {
  background: var(--themeBodyBackground);
  border-bottom: 1px dashed var(--themeBodyFontColor);
  box-shadow: 0 0 10px 5px rgba(255 255 255 / 0.1);
}
.headerNavBar{
  display: flex;
  gap: 10px
}
.headerTextBlock {
  text-align: center;
  z-index: 2;
  position: relative;
  background: var(--themeBodyBackground);
}
