@import "commons/theme/hellipse";

html,
body {
  padding: 0;
  margin: 0;
  background: var(--themeBodyBackground);
  color: var(--themeBodyFontColor);
  font-weight: var(--themeBodyFontWeight);
  font-style: var(--themeBodyFontStyle);
  font-family: var(--themeBodyFontFamily);
  font-size: var(--themeBodyFontSize);
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
