$breakpoints: (0, 576px, 768px, 992px, 1280px);
$flexProps: (
  width,
  height,
  alignItems,
  justifyContent,
  direction,
  columnGap,
  rowGap
);
@function recursive($prop, $index) {
  @if ($index == 1) {
    @return var(--flex_#{$prop}_#{$index});
  } @else {
    @return var(--flex_#{$prop}_#{$index}, recursive($prop, $index - 1));
  }
}

@mixin propsLoop($index) {
  @each $prop in $flexProps {
    $code: #{$prop}_#{$index};
    #{$prop}: recursive($prop, $index);
  }
}

.flex {
  display: flex;
  position: relative;
  @for $i from 1 through length($breakpoints) {
    $breakpoint: nth($breakpoints, $i);
    @if $breakpoint == 0 {
      @include propsLoop($i);
    } @else {
      @media (min-width: $breakpoint) {
        @include propsLoop($i);
      }
    }
  }
}
