.card {
  width: 100%;
  position: relative;
  background: var(--themeCardBackground, white);
  color: var(--themeCardColor, black);
  border: var(--themeCardBorder, none);
  box-shadow: var(--themeCardBoxShadow, 0 0 4px rgba(0, 0, 0, 0.1));
  border-radius: var(--themeCardBorderRadius, 8px);
  padding: var(--themeCardPadding, clamp(5px, 3vw, 20px));
  &.clickable{
    transition: box-shadow ease-in-out 200ms, transform ease-in-out 200ms;
    &:hover{
      transform: scale(1.05) rotate3d(1,1,1,45deg) ;
      box-shadow: var(--themeCardBoxShadow, 0 0 4px rgba(0, 0, 0, 0.1));
    }
  }
}
