@import "variables/colors";
:root {
  --themeCardBorderRadius: 5px;
  --themeCardMargin: var(--themeResponsiveSpace);
  --themeCardColor: #{$black};
  --themeCardBackground: #{$white};
  --themeCardBorder: none;
  --themeCardPadding: var(--themeResponsiveSpace);
  --themeCardBoxShadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
