@import "./variables/colors";
:root {
  --themeSmallEm: 0.8em;
  --themeBigEm: 1.2em;

  --themeH1FontFamily: var(--font-roboto);
  --themeH1FontColor: #{$white};
  --themeH1FontStyle: normal;
  --themeH1FontSize: 2.5rem;
  --themeH1FontWeight: 400;
  --themeH1FontLineHeight: inherit;
  --themeH1FontLetterSpacing: inherit;

  --themeBodyFontColor: #{$white};
  --themeBodyFontFamily: var(--font-roboto);
  --themeBodyFontStyle: normal;
  --themeBodyFontSize: 1.25rem;
  --themeBodyFontWeight: 500;
  --themeBodyFontLineHeight: 24px;
  --themeBodyFontLetterSpacing: initial;
}
