:root {
  --themeBodyFontColor: inherit;
  --themeBodyBackground: var(--navyBlue);
  --themeBodyFontFamily: "Raleway", sans serif;
  --themeBodyFontSize: 18px;
  --themeBodyFontWeight: 500;
  --themeBodyFontLineHeight: 24px;
  --themeBodyFontLetterSpacing: initial;
}
