@import "./variables/colors";
:root {
  --themeButtonBorderRadius: 0px;
  --themeButtonPadding: 5px 10px;
  --themeButtonBorderWidth: 2px;

  --themeButtonPrimaryBorderColor: #{$white};
  --themeButtonPrimaryColor: #{$black};
  --themeButtonPrimaryBackground: #{$white};
  --themeButtonPrimaryHoverColor: #{$neutral200};

  --themeButtonSecondaryBorderColor: #{$black};
  --themeButtonSecondaryColor: #{$white};
  --themeButtonSecondaryBackground: #{$black};
  --themeButtonSecondaryHoverColor: #{$neutral900};
}
