:root {
  --themeCardBorderRadius: 5px;
  --themeCardMargin: min(5px, max(3vw, 20px));
  --themeCardColor: var(--black);
  --themeCardBackground: var(--white);
  --themeCardBorder: none;
  --themeCardPadding: min(5px, max(3vw, 20px));
  --themeCardBoxShadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
