:root {
  --navyBlue: #21336b;
  --darkBlue: #56c4df;
  --darkPurple: #8778ff;
  --darkRed: #ed3560;
  --lightBlue: #ccfffc;
  --lightYellow: #fdffbf;
  --lightPurple: #f1e0ff;
  --lightRed: #ffd4d6;
  --black: #000;
  --white: #fff;
  --dark: #070808;
  --grey10: #0e1011;
  --grey20: #252a2c;
  --grey30: #3b4346;
  --grey40: #525d61;
  --grey50: #68767c;
  --grey60: #808f94;
  --grey70: #9ba6ab;
  --grey80: #b5bec1;
  --grey90: #d0d5d7;
  --grey95: #ebedee;
  --light: #f8f9f9;
  --orange: #e17a47;
  --red: #ef3d59;
  --yellow: #efc958;
  --green: #4ab19d;

  --neutral50: #f8fafc;
  --neutral100: #f1f5f9;
  --neutral200: #e2e8f0;
  --neutral300: #cbd5e1;
  --neutral400: #94a3b8;
  --neutral600: #64748b;
  --neutral800: #475569;
  --neutral500: #334155;
  --neutral700: #1e293b;
  --neutral900: #0f172a;

  --primary50: #f2f5ff;
  --primary300: #ccd8ff;
  --primary500: #505aab;
  --primary700: #19317b;
  --primary900: #000c4e;

  --secondary50: #fbf7ff;
  --secondary300: #e8d2ff;
  --secondary500: #bca7ff;
  --secondary700: #8778ff;
  --secondary900: #504ccb;

  --success50: #eafdff;
  --success300: #c3ffff;
  --success500: #8ef7ff;
  --success700: #56c4df;
  --success900: #0093ad;

  --warning50: #fffff0;
  --warning300: #fff4bd;
  --warning500: #ffff83;
  --warning700: #ffd951;
  --warning900: #c8a818;

  --error50: #fff3f1;
  --error300: #ffcdc6;
  --error500: #ff6e8d;
  --error700: #ed3560;
  --error900: #b40037;
}
