:root {
  --themeTextFieldBorderRadius: 5px;
  --themeTextFieldBorder: none;
  --themeTextFieldMargin: 0;
  --themeTextFieldColor: var(--black);
  --themeTextFieldBackground: transparent;
  --themeTextFieldPadding: 10px;
  --themeTextFieldBoxShadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
