@import "./variables/colors";
:root {
  --themeTextFieldBorderRadius: 4px;
  --themeTextFieldBorder: 4px solid #{$dark};
  --themeTextFieldColor: #{$black};
  --themeTextFieldBackground: #{$neutral50};
  --themeTextFieldPadding: 10px;
  --themeTextFieldBoxShadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
