.button {
  display: inline-block;
  border: 2px transparent solid;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: none;
  font: inherit;
  color: inherit;
  transition: background-color ease-in-out 200ms, color ease-in-out 200ms,
    box-shadow ease-in-out 200ms, border-color ease-in-out 200ms;

  &:not(:disabled) {
    cursor: pointer;
  }

  &:hover,
  &:focus {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  }

  &:active {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  }
}

.primary,
.secondary {
  border-radius: var(--themeButtonBorderRadius);
  padding: var(--themeButtonPadding);
  border: var(--themeButtonBorderWidth) solid transparent;
}

.primary {
  background: var(--themeButtonPrimaryBackground);
  border-color: var(--themeButtonPrimaryBorderColor);
  color: var(--themeButtonPrimaryColor);

  &.outlined {
    color: var(--themeButtonPrimaryBorderColor);
    background: transparent;
    border-color: var(--themeButtonPrimaryBorderColor);

    &:hover,
    &:focus {
      box-shadow: 0 0 4px var(--themeButtonPrimaryHoverColor);
      border-color: var(--themeButtonPrimaryHoverColor);
      color: var(--themeButtonPrimaryHoverColor);
      background: transparent;
    }

    &:active {
      box-shadow: 0 0 8px var(--themeButtonPrimaryHoverColor);
    }
  }

  &:hover,
  &:focus {
    box-shadow: 0 0 4px var(--themeButtonPrimaryHoverColor);
    background: var(--themeButtonPrimaryHoverColor);
    border-color: var(--themeButtonPrimaryHoverColor);
  }

  &:active {
    box-shadow: 0 0 8px var(--themeButtonPrimaryHoverColor);
  }
}

.secondary {
  background: var(--themeButtonSecondaryBackground);
  color: var(--themeButtonSecondaryColor);
  border-color: var(--themeButtonSecondaryBorderColor);

  &.outlined {
    color: var(--themeButtonSecondaryBorderColor);
    background: transparent;
    border-color: var(--themeButtonSecondaryBorderColor);

    &:hover,
    &:focus {
      box-shadow: 0 0 4px var(--themeButtonSecondaryHoverColor);
      border-color: var(--themeButtonSecondaryHoverColor);
      background: transparent;
      color: var(--themeButtonSecondaryHoverColor);
    }

    &:active {
      box-shadow: 0 0 8px var(--themeButtonSecondaryHoverColor);
    }
  }

  &:hover,
  &:focus {
    box-shadow: 0 0 4px var(--themeButtonSecondaryHoverColor);
    background: var(--themeButtonSecondaryHoverColor);
    border-color: var(--themeButtonSecondaryHoverColor);
  }

  &:active {
    box-shadow: 0 0 8px var(--themeButtonSecondaryHoverColor);
  }
}
